@import 'config';
@import 'menu';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400');

* {
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

body {
    background: $primary-color;
    height: 100%;
    margin: 0;
    font-family: $montserrat !important;
    font-weight: 100;
    line-height: 1.5;
    animation: 1.5s slideUp;
}

main {
    padding: 2rem;
    min-height: calc(100vh - 60px);
}

h1, h2, h3 {
    margin: 0;
    font-weight: 100;

    &.lg-heading {
        padding-top: 4rem;
        font-size: 4rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: bottom;
    }

    &.sm-heading {
        padding-top: 2rem;
        font-size: 2.5rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 1rem;
    }
}

a {
    color: $secondary-color;
    text-decoration: none;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    justify-content: center;
    display: flex;


    .icons {
        margin-top: 1rem;

        a {
            padding: 2em;
            
            &:hover {
                color: $third-color;
                @include easeOut();
            }
        }
    }
}

#main-footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    padding-top: 4rem;
    justify-content: center;
    display: flex;
}

main#about {
   p {
       padding: 1em;
   } 
}

.about-info {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    margin-right: 10vw;

    .bio-image {
    
        margin-left: 15vw;
        height: 380px;
          background-size: cover;
          display: block;
          border-top-left-radius: 100px;
          -webkit-border-top-left-radius: 100px;
          -moz-border-top-left-radius: 100px;
          border-bottom-right-radius: 100px;
          -webkit-border-bottom-right-radius: 100px;
          -moz-border-bottom-right-radius: 100px;
          border: solid 10px $secondary-color;
    }

    .bio {
        padding-top: 5vw;
    }
}


p {
    background: lighten($primary-color, 4);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    margin-bottom: 10px;
}

main#work {
    p {
        display: inline-block;
        height: 7em;
        overflow: scroll;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;

    img {
        position: relative;
        height: 60%;
        width: 60%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-flex;
        border-top-left-radius: 100px;
        -webkit-border-top-left-radius: 100px;
        -moz-border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        -webkit-border-bottom-right-radius: 100px;
        -moz-border-bottom-right-radius: 100px;
        border: solid 3px $secondary-color;
    }
}

.btn {
    display: block;
    padding: 0.5rem;
    border: none;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 5px 15px #193047;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1em;
    &:hover {
        background: $third-color;
        box-shadow: 0px 2px 10px 5px lighten(#1f4e5f, 12);
        
    }
}

.btn:focus { outline:0; }

.btn-git {
    @extend .btn;
    background: #1f4e5f;
}

.btn-prj {
    @extend .btn;
    background: #1f4e5f;
}

input[type=email] {
    width: 20em;
    margin-bottom: 20px;
    border-radius: 4px;
    border-style: none;
    padding: 0.5rem;
    outline: none;
}

textarea {
    height: 8em;
    font-family: $montserrat;
    border-style: none;
    border-radius: 4px;
}

input:focus, textarea:focus {
    border-bottom: 4px solid $third-color;
}

button[type=submit] {
    color: $secondary-color;
    background-color: #1f4e5f;
    font-family: $montserrat;
    padding: 0.5rem;
    border: none;
    margin-top: 1em;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 5px 15px #193047;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    &:hover {
        background: $third-color;
        box-shadow: 0px 2px 10px 5px lighten(#1f4e5f, 12);
        
    }
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

@import 'mobile';