@import 'config';
@import 'menu';
@import 'mobile';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400');

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

body {
    background: $primary-color;
    height: 100%;
    margin: 0;
    font-family: $montserrat;
    font-weight: 100;
    line-height: 1.5;
    animation: 1.5s slideUp;
}

main {
    padding: 4rem;

    &#home {
        // left: 0;
        // line-height: 200px;
        // margin: auto;
        // margin-top: -400px;
        // position: absolute;
        // top: 50%;
        // width: 100%;

    }
}

h1, h2, h3 {
    margin: 0;
    font-weight: 100;

    &.lg-heading {
        padding-top: 2rem;
        font-size: 7rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: bottom;
    }

    &.sm-heading {
        font-size: 3rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
    }
}

a {
    color: $secondary-color;
    text-decoration: none;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3rem;
    justify-content: center;
    display: flex;

    .icons {
        margin-top: 1rem;

        a {
            padding: 2em;
            
            &:hover {
                color: $third-color;
                @include easeOut();
            }
        }
    }
}

// @keyframes fade-in {
//     0% {opacity: 0;}
//     66% {opacity: 0.3;}
//     100% {opacity: 1;}
// }