@import 'config';
@import 'menu';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400');

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

body {
    background: $primary-color;
    height: 100%;
    margin: 0;
    font-family: $montserrat;
    font-weight: 100;
    line-height: 1.5;
    animation: 1.5s slideUp;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
}

h1, h2, h3 {
    margin: 0;
    font-weight: 100;

    &.lg-heading {
        padding-top: 2rem;
        font-size: 7rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: bottom;
    }

    &.sm-heading {
        font-size: 3rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
    }
}

a {
    color: $secondary-color;
    text-decoration: none;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3rem;
    justify-content: center;
    display: flex;


    .icons {
        margin-top: 1rem;

        a {
            padding: 2em;
            
            &:hover {
                color: $third-color;
                @include easeOut();
            }
        }
    }
}

#main-footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    justify-content: center;
    display: flex;
}

.about-info {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
}

.bio-image {
    grid-area: bioimage;
    margin: auto;
    height: 380px;
      background-size: cover;
      display: block;
      border-top-left-radius: 100px;
      -webkit-border-top-left-radius: 100px;
      -moz-border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;
      -webkit-border-bottom-right-radius: 100px;
      -moz-border-bottom-right-radius: 100px;
      border: solid 3px $secondary-color;
}

.bio {
    grid-area: bio;
}

p {
    background: lighten($primary-color, 4);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;

    img {
        position: relative;
        height: 80%;
        width: 80%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-flex;
        border-top-left-radius: 100px;
        -webkit-border-top-left-radius: 100px;
        -moz-border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        -webkit-border-bottom-right-radius: 100px;
        -moz-border-bottom-right-radius: 100px;
        border: solid 3px $secondary-color;
        
    }
}

.btn {
    display: block;

    padding: 0.5rem;
    border: 0;
    margin-bottom: 0.3rem;
    border-radius: 8px;
    &:hover {
        background: lighten(#1f4e5f, 12);
    }
}

.btn-git {
    @extend .btn;
    background: #1f4e5f;
}

.btn-prj {
    @extend .btn;
    background: #1f4e5f;
}

input[type=email] {
    width: 20em;
}

textarea {
    height: 8em;
    font-family: $montserrat;
}

button[type=submit]:hover {
    background-color: #1f4e5f;
    color: $secondary-color;
    border-radius: 4px;
    
}

@import 'mobile';